/* 页头部分：header */
.header {
  background: url(/src/assets/images/top_bg.png) no-repeat;
  text-align: right;
  width: 960px;
  margin: 0 auto;
  height: 61px;
}

.left {
  float: left;
  display: inline;
}

.header a {
  color: #fff;
  text-decoration: none;
  margin-right: 50px;
  line-height: 61px;
  font-weight: bold;
}



