<div id="main">
  <div class="table-search">
    <dx-button style="margin-right: 10px" type="default" text="增加" (onClick)="onAddClick()"></dx-button>
  </div>
  <div class="data">
      <table id="datalist">
        <tr>
          <th>角色 ID</th>
          <th>角色名称</th>
          <th class="width600">拥有的权限</th>
          <th class="td_modi"></th>
        </tr>
        <tr *ngFor="let role of dataSource">
          <td>{{role.roleId}}</td>
          <td>{{role.name}}</td>
          <td>{{role.moduleNames}}</td>
          <td>
            <input type="button" value="修改" class="btn_modify" (click)="modifyRole(role.roleId)"/>
            <input type="button" value="删除" class="btn_delete" (click)="deleteRole(role.roleId);"/>
          </td>
        </tr>
      </table>
  </div>
  <!--分页-->
  <app-page-indicator [totalCount]="totalCount" (pageSelected)="onPageSelected($event)"></app-page-indicator>
</div>
