<div id="main">
  <div class="table-search">
    <dx-button style="margin-right: 10px" type="default" text="增加" (onClick)="onAddClick()"></dx-button>
  </div>
  <div class="data">
      <table id="datalist">
        <tr>
          <th>角色 ID</th>
          <th>角色名称</th>
          <th class="width600">拥有的权限</th>
          <th class="td_modi"></th>
        </tr>
        <tr>
          <td>1</td>
          <td>贾强</td>
          <td>角色管理、管理员管理、资费管理、账务账号、业务账号、账单、报表</td>
          <td>
            <input type="button" value="修改" class="btn_modify" onclick="location.href='role_modi.html';"/>
            <input type="button" value="删除" class="btn_delete" onclick="deleteRole();"/>
          </td>
        </tr>
        <tr>
          <td>1</td>
          <td>贾强</td>
          <td>超级管理员、账单管理员</td>
          <td>
            <input type="button" value="修改" class="btn_modify"/>
            <input type="button" value="删除" class="btn_delete"/>
          </td>
        </tr>
        <tr>
          <td>1</td>
          <td>贾强</td>
          <td>超级管理员、账单管理员</td>
          <td>
            <input type="button" value="修改" class="btn_modify"/>
            <input type="button" value="删除" class="btn_delete"/>
          </td>
        </tr>
        <tr>
          <td>1</td>
          <td>贾强</td>
          <td>超级管理员、账单管理员</td>
          <td>
            <input type="button" value="修改" class="btn_modify"/>
            <input type="button" value="删除" class="btn_delete"/>
          </td>
        </tr>
      </table>
    <!--分页-->
  </div>
  <app-page-indicator [totalCount]="totalCount" (pageSelected)="onPageSelected($event)"></app-page-indicator>
</div>
