<div id="main">
  <form class="main_form" (ngSubmit)="onSubmit($event)">
    <div class="text_info clearfix"><span>角色名称：</span></div>
    <div class="input_info">
      <input type="text" name="roleName" class="width200" [(ngModel)]="role.roleName"/>
    </div>
    <div class="text_info clearfix"><span>设置权限：</span></div>
    <div class="input_info_high">
      <div class="input_info_scroll">
        <ul>
          <li *ngFor="let module of role.moduleList">
            <label>
              <input type="checkbox"
                     name="moduleIds"
                     value="{{module.moduleId}}"
                     [checked]="module.selected"
                     (change)="module.selected = !module.selected"/>{{module.moduleName}}
            </label>
          </li>
        </ul>
      </div>
    </div>
    <div class="button_info clearfix">
      <input type="submit" value="保存" class="btn_save"/>
      <input type="button" value="取消" class="btn_save" (click)="onCancelClick()"/>
    </div>
  </form>
</div>
