@import "assets/styles/commons-styles.css";
@import "assets/styles/table-styles.css"; /* You can add global styles to this file, and also import other style files */
@import "assets/styles/size-styles.css";
@import "assets/styles/button-styles.css";
@import "assets/styles/form-styles.css";

.clearfix {
  clear: both;
}

#main {
  background: #e8f3f8;
  border: 5px solid #8ac1db;
  min-height: 410px;
  width: 950px;
  padding: 5px;
  margin-top: 5px;
  max-height: 450px;
  overflow-x: hidden;
  overflow-y: auto;
  position: relative;
}



