form.main_form {
  width: 800px;
  margin: 15px auto;
}

div.text_info {
  width: 200px;
  text-align: right;
  float: left;
  height: 40px;
  margin-top: 5px; /*5*/
  /*border:1px solid black;*/
  margin-bottom: 5px;
}

div.text_info span {
  display: block;
}

div.input_info {
  width: 580px;
  text-align: left;
  margin-left: 10px;
  float: left;
  height: 40px;
}

/*div.input_info {*/
/*display: inline-block;*/
/*width: 50px;*/
/*}*/

div.input_info_scroll {
  width: 360px;
  text-align: left;
  float: left;
  height: 87px;
  overflow-y: scroll;
  overflow-x: auto;
  border: 1px solid silver;
}

div.input_info_scroll li {
  float: left;
  line-height: 22px;
  height: 22px;
  margin: 2px 2px 5px 5px;
  width: 106px;
}

div.input_info_scroll li span {
  display: block;
  float: left;
  line-height: 22px;
  height: 22px;
}

div.input_info_scroll li input {
  height: 22px;
  line-height: 22px;
  margin-right: 3px;
  float: left;
  border-width: 0px;
}

div.input_info_high {
  width: 580px;
  text-align: left;
  margin-left: 10px;
  float: left;
  height: 90px;
  margin-bottom: 10px;
}

div.button_info {
  text-align: left;
  width: 380px;
  /*border:1px solid blue;*/
}

input.btn_save {
  width: 100px;
  height: 36px;
  line-height: 26px;
  font-size: 20px;
  font-family: "黑体";
  text-align: center;
  margin-right: 5px;
}
