
.width50 {
  width: 50px;
}

.width70 {
  width: 70px;
}

.width80 {
  width: 90px;
}

.width100 {
  width: 100px;
}

.width110 {
  width: 110px;
}

.width150 {
  width: 150px;
}

.width180 {
  width: 180px;
}

.width200 {
  width: 200px;
}

.width300 {
  width: 300px;
}

.width350 {
  width: 350px;
}

.width400 {
  width: 400px;
}

.width600 {
  width: 600px;
}

.height70 {
  height: 70px;
}
